menu "holo-player-fw"

    config CONSOLE_STORE_HISTORY
        bool "Store command history in flash"
        default y
        help
            Save the console's command history to /data/history.txt on the LittleFS
            `storage` volume, so it survives a restart.

    config CONSOLE_IGNORE_EMPTY_LINES
        bool "Ignore empty lines inserted into the console"
        default y
        help
            If an empty line is inserted to the console, the Console can either
            ignore empty lines (the example would continue), or break on empty lines
            (the example would stop after an empty line).

endmenu
